<div class="container">
    <h2>Edit Post</h2>
    <div class="col-8">
        <form id="edit-post" data-id="{{id}}" onsubmit="updateFormHandler(this)">
            <input type="text" required value="{{post_title}}" id="post_title" placeholder="Title">
            <textarea rows="7" required id="post_content" placeholder="Content">{{post_text}}</textarea>
            <div class="col-4">
            </div>
            <button class="new-post" type="submit">Submit</button>
        </form>
    </div>
</div>

<script src="/js/dashboard.js"></script>