<div class="login-container">
    <h1>Login</h1>
    <form class="form login-form">
        <input type="text" placeholder="Enter Username" name="username" required id="username">
        <input type="password" placeholder="Enter Password" name="password" required id="password">
        <p class="p-sm">Don't have an account? <a class="hplnk" href="/signup">Sign Up</a></p>
        <button id="login" type="submit">Login</button>
    </form>
</div>
<script src="/js/login.js"></script>