body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1;
}

/* fonts */
h1 {
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 50px 0px 50px 0px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 25px;
    margin-top: 25px;
}

/* homepage */
.post {
    text-align: left;
    font-size: 18px;
    color: black;
    margin-bottom: 25px;
    margin-top: 25px;
}

.post-info {
    text-align: right;
    font-size: 14px;
    color: black;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 5px;
    border-bottom: thin solid grey;
}

.post-title {
    font-weight: bold;
}

.comment-container {
    width: 75%;
    border: thin 0.5px grey;
    padding: 15px;
}

.comment-info {
    font-size: 14px;
    color: black;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 5px;
}

#post_title {
    width: 470px;
    border: solid 0.5px grey;
}

#post_content {
    width: 470px;
    border-radius: 7px;
    border: solid 0.5px grey;
    padding: 15px;
}

.new-comment-container {
    width: 500px;
    margin: auto;
    padding: 10px;
}

#new-comment {
    display: block;
    margin: 20px auto;
    background-color: #389F91;
    color: black;
    font-weight: bold;
    padding: 14px 20px;
    border: thin solid #389F91;
    border-radius: 7px;
    cursor: pointer;
    width: 250px;
}

.p-sm {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.hplnk {
    color: #389F91;
    text-decoration: none;
}

.hplnk a:hover {
    color: #389F91;
    border: thin #389F91;
    text-decoration: none;
}

/* dashboard */
.welcome-container {
    width: 100%;
    padding: 0;
}

.p-welcome {
    font-size: 14px;
    text-align: right;
    font-weight: bold;
    margin: 15px 0px 15px 0px;
    color: #389F91;
}

#delete-post {
    background-color: #389F91;
    color: white;
    font-weight: bold;
    padding: 3px;
    border: thin solid #389F91;
    border-radius: 7px;
    cursor: pointer;
    width: 120px;
}

#edit-post {
    background-color: #389F91;
    color: white;
    font-weight: bold;
    padding: 3px;
    border: thin solid #389F91;
    border-radius: 7px;
    cursor: pointer;
    width: 120px;
}

.new-post {
    background-color: #389F91;
    color: white;
    font-weight: bold;
    padding: 3px;
    border: thin solid #389F91;
    border-radius: 7px;
    cursor: pointer;
    width: 120px;
    margin-top: 20px;
}

#newpost:hover {
    opacity: 0.8;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.dashboard-item {
    padding: 3px 0px 10px 0px;
}

/* Login and Sign Up */
.login-container {
    width: 500px;
    margin: auto;
    padding: 10px;
}

.signup-container {
    width: 500px;
    margin: auto;
    padding: 10px;
}

input[type=text],
input[type=password] {
    width: 470px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
}

#login {
    display: block;
    margin: 20px auto;
    background-color: #389F91;
    color: black;
    font-weight: bold;
    padding: 14px 20px;
    border: thin solid #389F91;
    border-radius: 7px;
    cursor: pointer;
    width: 250px;
}

#login:hover {
    opacity: 0.8;
}

#signup {
    display: block;
    margin: 20px auto;
    background-color: #389F91;
    color: black;
    font-weight: bold;
    padding: 14px 20px;
    border: thin solid #389F91;
    border-radius: 7px;
    cursor: pointer;
    width: 250px;
}

#signup:hover {
    opacity: 0.8;
}

label {
    display: block;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 7px;
}

/* Footer CSS Begins */
footer {
    width: 100%;
    background-color: black;
    margin-top: 50px;
}

.footer-lg {
    color: #f2f2f2;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    height: 50px;
}

.footer-sm {
    color: #f2f2f2;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}

.block {
    border-color: red;
    border-radius: 7px;
    background-color: red;
    padding: 7px;
}

.p-sm {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}